:root {
    --black: rgba(0, 0, 0, 0.87);
}


html {
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--black);
}


body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body,
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #EEEEEE;
    width: 100vw;
    max-width: 1200px;
    height: 100vh;
    max-height: 497px;
}


h1 {
    margin: 0;
    max-width: 600px;
    text-align: center;
    font-weight: normal;
}


h1 span {
    font-weight: bold;
    color: #00BCD4;
}


h1 span::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
    width: 0;
    height: 36px;
    border-left: 2px solid var(--black);
    animation: blink 600ms ease infinite;
}


@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
